.authorcontainer {
  gap: 0.5rem;
  position: relative;
  bottom: -0px;
}

.avatarcontainer {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.authorname>p:first-child{
  margin-bottom: 0.2rem;
}

.authorname > p:first-child {
  font-size: 0.7rem;
}
