.certificationItem:not(:last-child) {
  margin-bottom: 0.7rem;
  border-bottom: 1px solid var(--gray);
}

.certificationInfo {
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
  gap: 0.17rem;
}

.certificationInfo{
  color: var(--darkgray);
}

.certificationInfo p {
  font-size: 0.8rem;
  word-break: break-word;
}
