.skill:not(:last-child) {
  margin-bottom: 0.8rem;
}

.skill label {
  display: inline-flex;
  justify-content: space-between;
  font-weight: 500;
}


.skill label,
.skill progress {
  width: 100%;
}

.skill progress {
  display: inline-block;
  height: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: crimson;
}

.skill progress::-webkit-progress-value {
    background-color: var(--black);
}

.skill progress::-webkit-progress-bar {
    background-color: var(--gray);
}

