.linkButton {
  color: var(--darkgray);
}

.linkButton,
.linkButton span {
  font-size: 0.75rem;
}

.linkButton {
  gap: 0.2rem;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 1rem;
  margin-top: calc(0.35rem - 0.2rem);
  border: 1px solid var(--darkgray);
}

.linkButton:hover,
.linkButton:hover .linkButton span {
  color: var(--black);
  border-color: var(--black);
  background-color: var(--lightgray);
}
