.experience:not(:first-child) {
  padding-top: 0.8rem;
}

.experience:not(:last-child) {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--gray);
}

.experienceHead span {
  font-size: 0.75rem;
}

.experienceBody span {
  font-size: 0.8rem;
}

.experienceBody,
.experienceHead span {
  color: var(--darkgray);
}

.experienceBody p {
  margin-top: 0.2rem;
  text-align: justify;
  line-height: 1.25rem;
}

@media screen and (max-width: 400px) {
  .experienceHead {
    align-items: flex-start;
    flex-flow: column nowrap;
  }

  .experienceHead span{
    margin-top: 0.25rem;
  }
}
