.experience {
  padding: 0.4rem 0.5rem;
  font-size: smaller;
  font-weight: 500;
  color: var(--darkgray);
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.authorBio {
  color: var(--darkgray);
  line-height: 1.25rem;
  text-align: justify;
}

@media screen and (max-width: 400px) {
  .experience {
    margin-top: 0.2rem;
  }
}
