.heading{
    font-family: var(--times);
    font-size: 1.8rem;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 1rem;
}

.heading>span{
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--black);
    margin-bottom: -1px;
}

