.postscontainer {
  padding: 2rem 0%;
}

.cardcontainer {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 786px) {
  .postscontainer {
    padding: 2rem 10%;
  }

  .cardcontainer {
    height: 600px;
  }

  .imagecontainer {
    height: 70%;
  }

  .contentcontainer {
    height: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .postscontainer {
    padding: 2rem 15%;
  }
}
