.profileimage {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
}


@media screen and (max-width: 600px) {
  .profileimage{
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 450px) {
  .profileimage{
    width: 100px;
    height: 100px;
  }
}